* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Johannes - Header*/

/* Mandus - Footer*/

/* Jonathan - Startsida */
.gray-area {
  padding: 5.6875rem 4.6875rem;
  background: #C4C4C4;
}
  .gray-area h1 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 60px;
  }
/* Cuong - Om oss */
.about-h2{
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
  text-align: center;
}
.personal-container{
  width: 100%;
  height: 100%;
  background: #C4C4C4;
}

.personal-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}
.personal-card{

}

/* Kontakt */