@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
} 

/* Johannes - Header*/
.nav_bar {
  height: 80px;
  width: 100%;
  display: flex;
}


.nav_company {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.nav_company Link {
  text-decoration: none;
  color: black;
}

.nav_logo {
  height: 55px;
  margin-left: 75px;
}

.nav_head {
  margin-left: 0.4rem;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.link_head {
  text-decoration: none;
  color: #262626;
}

.nav_menu {
  height: 100%;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  text-decoration: none;
  color: black;
  margin-left: 5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav_link:hover {
  opacity: 0.7;
  border-bottom: 2px solid #262626;
}

.nav_buttons {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.first_btn {
  display: flex;
}

.arrow_down {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.arrow_size {
  width: 12px;
}

.arrow_down:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hidden {
  height: 25px;
  width: 40px;
  background: white;
  border: none;
}

.one {
  display: flex;
  width: 100px;
}

.two {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 43px;
  height: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: #BA3FCA 3px solid;
}

.two:hover {
  cursor: pointer;
}




/* Mandus - Footer*/
footer{
  background: #000000;
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .footerContainer{
} */
.footerBox{
  height: 40%;
  display: flex;
  margin: 5% 20%;
  flex-direction: column;
  justify-content: space-evenly;
}
footer p{
  color: #A6A6A6;
  font-size: 12px;
}
.footerLinks{
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
}

/* Jonathan - Startsida */
.wrapper {
  width: 100%;
}
.hero, .main-contents {
  padding: 7.8125rem 4.6875rem;
  position: relative;
  width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url('./images/pawel-czerwinski-fPN1w7bIuNU-unsplash\ 1.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-contents {
  width: 100%;
}
.hero-box {
  width: 100%;
}
  .hero-box-1 {
    max-width: 823px;
  }
  .hero-box-2 {
    max-width: 480px;
    margin-top: 1.25rem;
  }
  .hero-box-3 {
    max-width: 823px;
    margin: 1.25rem 0;
  }
.hero-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
}
.hero-text {
  font-size: 1.375rem;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 2rem;
}
.btn {
  background-color: #BA3FCA;
  padding: 0.75rem 1.375rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
  .btn:hover {
    background-color: #bf5ccc;
  }
.main-contents {
  background-color: #FFFFFF;
}
.main-contents-top {
  width: 100%;
  margin-bottom: 1.5rem;
}
.main-contents-middle {
  width: 100%;
  margin-top: 7.8125rem;
  margin-bottom: 1.5rem;
}
  .title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
  }
.shelf {
  display: flex;
  justify-content: space-between;
}
.book-container {
  position: relative;
  width: 191px;
  min-height: 385px;
}
  .book-container > div {
    width: 100%;
  }
.check {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  color: #FFFFFF;
}
.check::after, .check::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 100%;
  background-color: inherit;
}
  .check::before {
    clip-path: polygon(0% 0, 50% 0%, 0% 50%);
    left: 0;
  }
  .check::after {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%);
    right: 0;
  }
  
  .black-check {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .green-check {
    background-color: rgba(78, 255, 72, 0.9);
  }
.fa-check, .fa-plus {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5625rem;
}
.book-poster {
  min-height:310px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  .rating-box{
    margin-top: .3rem;
    width: unset;
  }
    .rating-box h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #FFA500;
    }
  .title-box{
    margin-top: .3rem;
  }
    .title-box h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  .author-box{
    margin-top: 0.1rem;
  }
    .author-box h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #757575;
    }
  .price-box{
    margin-top: .4rem;
  }
    .price-box h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
  .buy-box{
    margin-top: 1rem;
  }
.buy-btn {
  background-color: #8D179C;
  padding: 1rem 2.6875rem;
  border: none;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5rem;
}
  .buy-btn:hover {
    background-color: #92459c;
  }

  .star-outer {
    position: relative;
    display: inline-block;
  }
  .star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  .star-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #c4c4c4;
  }
  .star-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFA500;
  }
/* Cuong - Om oss */
.about-h2{
  padding: 3rem 0;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 60px;
  color: #000000;
}
.about-h3{
  padding-top: 6rem;
  font-size: 2rem;
  color: #BA3FCA;
}

.about-p{
  font-size: 2.375rem;
  color: #000000;
  font-weight: 500;
  padding-bottom: 4rem;
}
.personal-container{
  display: flex;
  flex-direction:column;
  width: 100%;
  background: #FFFFFF
}

.header-img{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background: url("./images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 242px;
  width: 100%;
}
.header-text {
  font-size: 3rem;
  color:#FFFFFF;
}
.description-content{
  padding: 3rem;
}

.about-img{
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  background: url("./images/MicrosoftTeams-image\ \(3\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 387px;
  width: 100%;
  
}
.about-img-text{
  font-size: 3rem;
  color:#FFFFFF;
  padding-top: 7rem;
  padding-right: 25rem;
}

.personal-content{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
}
.image{
  padding-right: 18px;
  border-radius: 50%;
}
.about-text{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  
}
.personal-card{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

/* Tariq - Kontakt */

.app-container{
  padding: 4.25rem 5rem;
}
.section-spacing{
  padding: 4.25rem 0;
}
.header-img{
  display: flex;
  align-items: center;
  padding-left: 5rem;
  background: url("./images/header.png") no-repeat;
  background-size: cover;
  height: 242px;
  width: 100%;
}

.header-text{
  font-size: 3rem;
  color:#FFFFFF;
}

.company-image-container{
  width: 100%;
  margin: 0 auto;
}

.company-image{
  width: 100%;
}
.headingtext{
  font-size: 3rem;
  padding-bottom: 3rem;
}
.primary{
  color: #BA3FCA;
}

.bodytext{
  font-size: 2.25rem;
}

.kontakt-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAF9F7;
  margin-bottom: 1rem;
  height: 136px;
  padding: 0 8rem;
}

.kontakt-left{
display: flex;
justify-content: center;
align-items: center;
}

.kontakt-left-content{
  font-size: .5rem;
padding-left: 1.5rem;
}

.kontakt-left-content h4{
  font-size: 2rem;
}

.kontakt-desc{
  font-size: 1rem;
  color: #A6A6A6;
}

.info-text{
  font-size: 1.5rem;
}

.link-info{
  font-size: 1.5rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.form-text-label{
  font-size: 2rem;
  padding-bottom: 2rem;
}

.form-text-input{
  padding: 2rem 1rem;
  border: 1px solid #A6A6A6;
  font-size: 2em;
}

.form-text-input:focus{
  outline: none;
}

.form-select{
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background: url("./images/arrow.png") no-repeat;
   background-position: bottom 50% right 50px;
}

.form-select option{
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.btn-form{
  border: none;
  padding: 1rem;
  width: 200px;
  background-color: #BA3FCA;
  color: #FAF9F7;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}


/* Faq - Tariq */


.faq-accordion {
  max-width: 80%;
  margin: 0 auto;
}

.faq-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #757575;
  cursor: pointer;
  background-color: #F9F1FA;
  }

  .faq-icon{
    font-size: 2rem;
    display: block;
    padding: .5rem;
  }

  .faq-answer{
    padding: 2rem 1rem;
    transition: all 200ms ease-out;
  }
  
  .show{
    display: block;
  }

  .hide{
    display: none;
  }

 
/*     /////////////////////////////////////////////////////////////////////      */
